.nosotros{
    background-color: #78D6C6;
}
.titlenosotros{
    background-color: #78D6C6;
    color: #0A3442 ;
    text-decoration: overline; 
    font-size: 180%;
    margin: 0%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    width: 100%;
}
.mainosotros{
    background-color: #78D6C6;
    color: #0A3442;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-weight: lighter;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.cabezadelavanda{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}

.iframe{
    width: 500px; 
    margin: 10px;
    margin-left: 350px;
    
}
    
