.inimain{
    width: 100%;
}
.h1{
    background-color: #78D6C6;
    color: #0A3442 ;
    text-decoration: overline; 
    font-size:180%; 
    margin:0%;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top:10px;
}

.columna{
    width: 100%;
    background-color: #78D6C6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    display: flex;
    padding: 10px;
    .columnaa1{
        background-color: #78D6C6;
    .imgini{
        width: 300px;
        align-items: center;
        } 
    }
}    
        
    .columna1{
        background-color: #78D6C6;
        color: #0A3442;
        justify-content: center;
        padding: 10px;
        margin-top: 25px;
        text-align: center;
        .p1{
            text-align: justify;
                }
            }

.h2{
    background-color: #78D6C6;
    color: #0A3442 ;
    text-decoration: overline; 
    font-size: 180%;
    margin: 0%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    width: 100%;
}
.clearfix{
    background-color: #78D6C6;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0A3442;
    font-size: larger;
    padding: 10px;
    text-align: start;
    width: 100%;
}

.h3{   
    background-color: #78D6C6;
    color: #0A3442 ;
    text-decoration: overline; 
    font-size: 180%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 10px;
}
.image{
    width: 300px;
}
.swiffy-slider{
    background-image: url(./../assets/img/forest-8592899_1280.jpg);
    
}    
.slider-container{
    
    margin-left: 400px;
    background-image: url(./../assets/img/forest-8592899_1280.jpg);
}
ul li img{
    width: 300px;
    border-radius: 0px;
    padding: 2px;
}
